name: Sync Testing SDK

on:
  push:
    branches: ["main"]
    paths:
      - "sdk-testing/**"

env:
  AWS_REGION: "us-west-2"

# permission can be added at job level or workflow level
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  sync-aws-durable-execution-sdk-java-testing:
    uses: ./.github/workflows/sync-package.yml
    with:
      module_name: sdk-testing
      package_name: aws-durable-execution-sdk-java-testing
    secrets:
      S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
      SYNC_LAMBDA_ARN: ${{ secrets.SYNC_LAMBDA_ARN }}
      GITFARM_LAN_SDK_REPO: ${{ secrets.GITFARM_TESTING_SDK_REPO }}
      GITFARM_LAN_SDK_BRANCH: ${{ secrets.GITFARM_LAN_SDK_BRANCH }}
      ACTIONS_SYNC_ROLE_NAME: ${{ secrets.ACTIONS_SYNC_ROLE_NAME }}
